:root {
    --foreground:#575279;
    --background: #faf4ed;
    --selection-foreground: #575279;
    --selection-background: #9893a5;
    --url-color: #b4637a;
    
    --inactive-border-color: #ebbcba;
    
    --bell-border-color: #EE99A0;
    
    --active-tab-foreground: #181926;
    --active-tab-background: #C6A0F6;
    --inactive-tab-foreground: #CAD3F5;
    --inactive-tab-background: #1E2030;
    --tab-bar-background: #181926;
   
    --surface-1: #f2e9e1;
    --surface-2: #f4ede8;
    --surface-3: #dfdad9;
    --surface-4: #cecacd;
    --black: #575279;
    --purple: #907aa9;
    --red: #b4637a;
    --green: #56949f;
    --gold: #ea9d34;
    --pink: #d7827e;
    --blue: #286983;
    --white: #fffaf3;
    --grey:#797593;
}
html {
    height: 100%;
    margin: 0px;
    overflow: 'hidden';
}
body {
    background-color: var(--background);
    color: var(--white);
    height: 100%;
    margin: 0px;
    position: relative;
    overflow: 'hidden';
}
h1 {
    color: var(--blue);
    font-variant: small-caps;
    padding: 20px;
}
main {
    text-align: center;
    height: 100%;
    overflow: 'hidden';
    margin: 0px;
}

a, a:hover {
    text-decoration: none;
    color: var(--white);
    margin-top: 5px;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    height: 80%;
    overflow: 'hidden';
    margin: 0px;
    flex: 1;
    margin-left: 0;
    margin-right: 0;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 300px;
    border: solid 2px var(--red);
    border-radius: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    min-height: 420;
}
.column > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 80px;
    padding: 10px 25px 10px 25px;
    border: solid 0px black;
    border-radius: 10px;
    background-color: var(--surface-1);
    margin: 5px 5px 0px 5px;
    text-align: center;
    overflow:hidden;
}

.column > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    overflow: hidden;

}

h3 {
    color: var(--purple);
    text-transform: uppercase;
    font-variant: small-caps;
}

h4 {
    margin: 0px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    left: 3px;
    top: 7px;
    writing-mode: vertical-rl;
    color: var(--surface-4);
    text-transform: uppercase;
    font-size: 17px;
}

#elf-image {
    float: left;
	margin-left: 10%;
	max-width: 25%;
	max-height: 70%;
	border-radius: 2%;
}
